.idea/
.sonar/
**/*.iml
*.iml
*.hprof
gen/
bin/
build/
out/
tmp/
bin/
target/
gen-external-apklibs/
CalabashAndroid/calabash/test_servers/
.DS_Store
.gradle/
UnitTest/cobertura.ser
${env.DROPBOX_ROOT}/
google-play-services_lib_v9/gen/
res/raw/app_config.properties
UnitTest/velocity.log
google-play-services_lib_v9/project.properties
local.properties
app/src/main/project.properties
